/* Custom Styles  */




/* NO FOCUS */
.noFocus:focus *{
    outline: none !important;
    outline-offset: 0px !important; 
}



/* TITOLO E TESTI */
.customTextTitle {
    font-size: 30pt;
    color : #003A6B;
}

.textNotEnabled {
    opacity: 0.5;
}


/* BOTTONI */ 
.sapMBtnDisabled {
    opacity: 0.3 !important;
}

.lessOmbra .sapMBtnInner {
    text-shadow: 0 0 0 #ffffff;
}



.tileLayout {
    float: left;
}
.myButton
{
    background-color: red;
}

.middleImg {
    text-align: center;
}

.diffStandard input {
    color : red;
}
.borderb {
    border-right: black solid 1px;
}
.verderde *
{
    background-image: none !important;
    background-color: green !important;
}
.bianconco *
{
    background-image: none !important;
    background-color: white !important;
}
.rossorso *
{
    background-image: none !important;
    background-color: red !important;
    color: white;
}
.neroreno .sapMBtnInner
{
    background: black;    
}
.giallogallo *
{
    background-image: none !important;
    background-color: yellow !important;
}
.diffRed {
    color : red;
    font-weight: bold;
}
.fix_b {
    margin-bottom: 0px;
}
.centrati * {
    width: 100% !important;
    height: 100% !important;
    background-color: green !important;
    margin: 0 auto !important;  
}
.size1 {
    font-size : 1.5rem;
}
.largo {
    width:100% !important;
    margin-bottom: 0px !important;
}
.size2 {
    font-size : 2.5rem;
}
.size3 {
    font-size : 5rem;
}
.size4:before {
    font-size : 30px !important;
}
.size5 {
    font-size : 10rem;
}
.rosso {
    background-color: red;
    margin-top: 5%;
    margin-bottom: 5%;
    opacity:0.8;

}
.verde {
    background-color: green !important;
    opacity:0.5;

}

.diffLink * {
    color : blue;
    text-decoration: underline;
    font-weight: bold;
}
.sfondoRed{
    background-color: red;
}
.testo-grande *{
    font-size: 150% !important;
    text-align: center;
    font-weight: bold;

}
.sapMStdTileTitle {
    font-size: 200% !important;
    text-align: center;
    font-weight: bold;
}
.sapMStdTileTopRow{
    height: 5rem !important;
}

.fix_linea.sapMText {
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 3%;
    font-size: large;
    font-weight: bold; 
}

.mysapMListTbl *{
    background-color: white;
}

.FermoButton .sapMBtn {
    padding-top: 0.4rem; 
    padding-right: 0.1rem; 
    padding-left: 0.1rem;
    padding-bottom: 0.1rem; 
}

.customTextFermo {
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}

.mysapMTable {
    border-top : 1px solid #dddddd;
    border-right : 1px solid #dddddd;
}

.CBTotaleCausaCustom {
    padding: 0 0 0 3.7rem;
}





/*CSS PER LA TREETABLE*/

.noBorderRight .sapUiTableCol{
    border-right: 0px !important;
}

.mysapUiTableCol.sapUiTableTd{
    border-right: 0px !important;
}

.righeOverOut * {
    background-color: white !important;
}

.Background0 * {
    background-color: #d9d9d9 !important;
}

.Background1 * {
    background-color: #e6e6e6 !important;
}

.Background2 * {
    background-color: #f2f2f2 !important;
}

.Lv1 * {
    padding-left: 5% !important;
}

.Lv2 * {
    padding-left: 10% !important;
}

.Lv3 * {
    padding-left: 30% !important;
}

.mysapMTB.sapMTB {
    border-bottom: 0px;
    background-color: #f7f7f7;
    padding-bottom: 0px;
}

.mysapUiTableExt .sapUiTableExt {
    border-bottom: 0px;
}

/*.headerReportBox {
    border-right: 1px solid black; 
}*/

.reportSapLabel.sapMLabel {
    font-size: 0.67rem !important;
}

.reportSapLabel.sapMLabel:hover{
    cursor: default;
}

.sapLabelNoHover.sapMLabel{
    background-color: #f7f7f7;
}

.mysapMTBar.sapMTB .sapMBarChild {
    margin: 0px;
    /*    border-right: 1px solid black;*/
    /*    padding-bottom: 7px;
        padding-top: 2px;*/
}

.mysapUiTableColCell .sapUiTableColCell {
    text-align: center !important; 
}

.mysapUiTableTr .sapUiTableTr *{
    border-bottom: 0px;
}

/*.mysapUiTableColCell:hover .sapUiTableColCell {
    text-align: center !important; 
}*/

/*.myCursor:hover{
    cursor: pointer; 
}*/

.handPointer *{
    cursor: pointer;
}

/*CSS NEL DIALOG MODIFICA GUASTI*/

.blackBorder {
    border-bottom: 1px solid black;
}

.red {
    color: red;
}

.myListItemRed .sapMSltLabel {
    color: red !important;
    font-size : 1.5rem !important;
}

.tempoBox {
    border: 1px solid black;
    padding: 0.5rem 0.5rem;
}

.myRedTempoBox .sapMInputBaseInner {
    height: 2.8rem;
    padding: 0 0.5rem;
    width: 9rem;
    color: red;
    font-size: 1.5rem;
    border: 1px solid black;
}

.noOpacity.sapMInputBaseDisabled {
    opacity: 1;
}

.borderButton .sapMBtnInner{
    border: 1px solid #737373;
}

/*CSS NELLA CREAZIONE DEL TURNO*/

.startLineaButtonOutside *{
    background-image: none !important;
    background-color: #d9d9d9 !important;
    color: black;
}


.startLineaButtonVerde *
{
    background-image: none !important;
    background-color: #7CA295 !important;
    color: white !important;
    /*    border: 1px solid green !important;*/
}


/* TABELLA GUASTI PER LINEA/GRUPPO */

.alternateRowColors tbody tr:nth-child(even) {
    background: #f5f5f5;
}

.guastiFixedHeader .sapMListTblHeader{
    position: -webkit-sticky;
    top: 0;
}

/*CSS PER LE MIE TABELLE  */
.totalWhiteTable .sapMListTbl th {
    background-color: white !important;
    border: 0px !important;

}


.borderMiddleTable .sapMListTbl th {
    border: solid 1px;
    color: #003A6B;
}

.border {
    border: solid 1px;
    color: #003A6B;
}

.green {
    background: #7CA295;
}
.grey {
    background: #f2f2f2;
}
.yellow {
    background: #FFD300;
}
.blueText * {
    color: #003A6B !important;
}

.noBorder *{
    border: 0px !important;
}

.tableTextSize .sapMListTbl .sapMText{
    font-size: 1.3rem !important;
}

.blackBoxTable {
    border: 2px solid black;
}

.paddingTitle {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*GESTIONE DEL BUTTON LINEA*/

.bordoLineaGreen .sapMBtnInner{
    border: 3px solid #7CA295 !important;
}

.bordoLineaGrey .sapMBtnText{
    border: 3px solid #bfbfbf !important;
}

.internoLineaWhite .sapMBtnInner{
    background: white ;
    color: #003A6B; 
}

.internoLineaYellow .sapMBtnInner{
    background: #FFD300 ;
    color: #003A6B;
}

.internoLineaYellow:hover>.sapMBtnInner:hover{
    background: #ffe14d ;
    color: #003A6B;
}

.internoLineaGreen .sapMBtnInner{
    background: #7CA295 ;
    color: white;
}

.internoLineaGreen:hover>.sapMBtnInner:hover{
    background: #55776b ;
    color: white;
}

.internoLineaRed> .sapMBtnInner{
    background: #A71930 ;
    color: white;
}

.internoLineaRed:hover>.sapMBtnInner:hover{
    background: #c81e3a ;
    color: white;
}

.internoLineaBordeaux>.sapMBtnInner{
    background: #5E3032 ;
    color: white;
}

.internoLineaBordeaux:hover>.sapMBtnInner:hover{
    background: #974e52 ;
    color: white;
}
.buttonDimension .sapMBtnInner {
    bottom: 0.2rem;
    position: relative;
    height: 2.95rem;
}

.buttonDimension .sapMBtnInner .sapMBtnContent{
    /*padding-top: 0.24rem;*/
    font-size: 20pt;
}
.progressBarFix {
    height: 3.1rem;
    margin: 0rem;
}
.progressBarFix .sapMPIText{
    padding-top: 0.24rem;
    font-size: 1rem;
}
.progressBarVBox {
    width: 76% !important;
    right:0.1rem;
    bottom: 0.1rem;
}
.RightVBox {
    bottom: 0.4rem;
}
.SPCVBox {
    width: 8% !important;
    bottom: 0.1rem;
    height: 3.2rem !important;
}
.styleVBoxLeftbottom {
    bottom: 0rem;
}
.styleVBoxRightbottom {
    bottom: 0.2rem;
}

.progressBarButtonEmpty * {
    background-color: white !important;
    background-image: none !important;
    /*border: solid;*/
}

/*CSS MANAGEPIANO*/

.noDelimitator.sapMLIBShowSeparator > td{
    border-top: 0px !important;
}

.mysapMListNoBorders1 .sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child > td, .sapMListShowSeparatorsAll .sapMListTblSubRow:last-child > td{
    border: 0px;
}

.mysapMListNoBorders2 .sapMListShowSeparatorsAll .sapMListTblSubRow:last-child > td, .sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child > td{
    border: 0px;
}

.mysapMListTblNoBorders .sapMListTbl th {
    border: 0px;
    bottom: 0.1rem;
}
.bordoBlu {
    border: 1.5px solid #003A6B;
}
.bordoBlu3 {
    border: 3px solid #003A6B;
}
.bordoBluL {
    border-left: 1.5px solid #003A6B;
}
.bordoBluR {
    border-right: 1.5px solid #003A6B;
}
.bordoBluB {
    border-bottom: 1.5px solid #003A6B;
}
.bordoBluT {
    border-top: 1.5px solid #003A6B;
}
.sfondobianco {
    background-color: white;
}

.borderBoxRight {
    border-right: 1.5px solid #003A6B;
}

/* CSS DELLA TAB CONTAINER */
.customsapMTabStrip .sapMTabStrip {
    width: 97.5%;
    margin-left: 15px; 
}




/* CSS PER MONOBOTTONE e BIBOTTONE SPC  -COMMENTATI CI SONO I CASI IN CUI DECIDO DI CAMBIARE IL SETTAGGIO DELLE DIMENSIONI*/ 
.SPCButtonsDimensions .sapMBtnInner {
    position: relative;
    border: 0px;
    border-radius: 0px;
    height: 3.1rem;
    bottom: 0.24rem;
}
.SPCButtonColorGreen .sapMBtnInner {
    background: #7CA295; 
}
.SPCButtonColorYellow .sapMBtnInner {
    background: #FFD300;
}
.DualSPCButtonTextPadding .sapMBtnInner {
    background: #FFD300;
}
.SPCButtonsDimensions .sapMBtnContent {
    position: absolute;
    left: 39%;
    top: 15%;
    font-size: 13pt;
}
.DualSPCButtonContent .sapMBtnContent {
    position: absolute;
    left: 37.4%;
    top: 36%;
    font-size: 24pt;
}
.SPCButtonPhase1 .sapMBtnIcon {
    position: absolute;
    max-height: 100%;
    height: 90%;
    width: 45%;
    left: 30%;
    top: 5%;
}
.monobuttonSPC .sapMBtnInner {
    padding-left:25% !important;
    padding-right:25% !important;
    position: relative;
    border: 0px;
    border-radius: 0px;
    height: 3.1rem;
    bottom: 0.24rem;
    border-top: 1.5px solid #003A6B;
    border-bottom: 1.5px solid #003A6B;
    border-right: 1.5px solid #003A6B;
}

.monobuttonSPC .sapMBtnIcon {
    position: absolute;
    left: 30%;
    max-width: 3.5rem;
    max-height: 3.5rem;
    width: 2.7rem;
    height: 2.8rem;
}

.monobuttonSPC .sapMBtnContent {
    position: absolute;
    left: 40%;
    top: 10%;
    background-color: transparent !important;
}

.bibuttonSPC .sapMBtnInner {
    padding-left:2% !important;
    padding-right:2% !important;    
    position: relative;
    text-shadow: none;
}

.bibuttonSPC .sapMBtnIcon {
    position: absolute;
}

.bibuttonSPC .sapMBtnContent {
    position: absolute;
    left: 22%;
    top: 2.5%;
    background-color: transparent !important;
}


/*PROGRESS INDICATOR PER RIEPILOGO LINEE*/
.LineeMPI.sapMPI {
    position: relative;
}

.LineeMPI.sapMPI .sapMPIBar .sapMPIText {
    color: #003A6B; 
    background-color: transparent !important;
    position: absolute !important;
    right: 0px; 
}

.LineeMPI.sapMPI .sapMPIText {
    color: #003A6B; 
    background-color: transparent !important;
    position: absolute !important;
    right: 0px; 
    padding-right: 0.5rem;
}
.sapMPIBarPositive {
    background: #7CA295;
    border-right: 1.5px solid #003A6B;
}
.sapMPIBarNegative{
    background: #d47600;
    border-right: 1.5px solid #003A6B;
}
.sapMPIBarCritical {
    background: #FFD300;
    border-right: 1.5px solid #003A6B;
}
.sapMPIBarNeutral {
    background: white;
    border-right: 1.5px solid #003A6B;
}

/* STILE DEL RIEPILOGO LINEE */ 

.RiepilogoLineaElement{
    border: 1.5px solid #003A6B; 
}

.BorderTopRight {
    border-right: 1.5px solid #003A6B; 
    border-top: 1.5px solid #003A6B;
}

.BorderTop {
    border-top: 1.5px solid #003A6B; 
}

.BorderLeftTopRight {
    border-right: 1.5px solid #003A6B; 
    border-top: 1.5px solid #003A6B;
    border-left: 1.5px solid #003A6B;
}

.paddingVBox {
    padding: 5px;
}

.textVBox .sapMFlexItem {
    text-align: center; 
}

/*ICONTABBAR*/

.sapMITBContent {
    padding-left: 0px;
    padding-right: 0px;
}
.tileSize {
    width: 250px !important;
    height: 250px !important;
}

/*TABELLA*/

.sapMLIBShowSeparator > td {
    border-top: 0px;
}

.sapMListTblCell_b .sapMListTblCell{
    padding: 0.1rem !important;
}

.sapMListTblCell_b .sapMInput {
    width: 100% !important;
    height: 100% !important;
}

.sapMListTblCell_b.sapMLIB {
    padding: 0px !important; 
}

.sapMListTblCell_op .sapMListTblCell {
    padding: 0.35rem 0.1rem !important;
}

.sapMListTblCell_b .sapMComboBoxTextField {
    margin: 0rem !important;
}

.TimesapMInputBase {
    width: 100% !important;
    height: 100% !important;
}

.sapMListTblCell_b .sapMBtn {
    width: 100% !important;
    height: 100% !important;
}

.sapMListTblCell_b .sapMBtn {
    width: 100% !important;
    height: 100% !important;
}

.sapMListTblCell_b .sapMListTblCell .sapMBTimePicker {
    width: 100% !important;
    height: 100% !important;
}
.nomarg * {
    margin-right: 0px !important;
    margin-left: 0px !important;
}


.unpodimargin {
    margin-left: 2%;
}

.sapMListTblHeader_b .sapMListTbl .sapMListTblHeader .sapMListTblCell {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.larghezzaButtonLeft .sapMBtnInner{
    width: 12rem;
}
.larghezzaButtonRight .sapMBtnInner{
    width: 5rem;
}
.shiftButtonRight .sapMBtnInner{
    right: 0.5rem;
}
.shiftButtonLeft .sapMBtnInner{
    left: 0.5rem;
}

/* SCROLLING CONTAINER */
.scrollingbar {
    overflow-y: scroll !important;
}

.scrollingbarTransparent{
    overflow-y: scroll !important; 
}

.scrollingbarTransparent::-webkit-scrollbar{
    background-color: transparent !important; 
}

.scrollingbarTransparent::-webkit-scrollbar-corner{
    background-color: transparent !important;
}

.scrollingbarTransparent::-webkit-scrollbar-thumb{
    background-color: transparent !important;
}


.prova {
    margin-bottom: 0.35%;
}

/*BOTTONI MANAGEPIANOGREY*/

.paddingright {
    padding-right: 1rem;
}
.paddingleft {
    padding-left: 1rem;
}


/* ICONTABFILTER */
.sapMITBFilterDefault{
    color: #003A6B !important;
}

.sapMITBText{
    color: #003A6B !important;
}

.sapMITBSelected > .sapMITBContentArrow {
    border-bottom-color: #003A6B !important;
}

/* TEXT AREAS */
.sapMTextArea > .sapMInputBaseReadonlyInner.sapMTextAreaInner{
    border: 1px solid #003A6B !important;   
}

.textArea .sapMTextAreaInner{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0.6rem;
    margin-left: 0rem; 
}

/*CLASSI PULSANTE SETTINGS DEL BATCH*/
.BatchInMacchina .sapMBtnInner {
    background: #003A6B;
}
.BatchInMacchina .sapMBtnIcon {
    color: #FFD300;
}

.BatchInAttesa .sapMBtnInner {
    background: #f2f2f2;
}
.BatchInAttesa .sapMBtnIcon {
    color: #003A6B;
}

.BatchTrasferito .sapMBtnInner {
    background: #A71930;
}
.BatchTrasferito .sapMBtnIcon {
    color: #FFD300;
}

.StileX .sapMBtnIcon {
    color: #A71930;
}
.StileV .sapMBtnIcon {
    color: #7CA295;
}

/*CLASSI PULSANTE LINEA*/

.LineaDispo .sapMBtnInner{
    border: solid 5px #7CA295;
    border-radius: 0%;
}
.LineaNonDispo .sapMBtnInner{
    border: solid 5px #A71930;
    border-radius: 0%;
}

.LineaVuota .sapMBtnInner{
    background: white;
    color: #003A6B;
}
.LineaVuota:hover> .sapMBtnInner:hover{
    background: white;
    color: #003A6B;
}
.LineaAttrezzaggio .sapMBtnInner{
    background: #FFD300;
    color: #003A6B;
}
.LineaAttrezzaggio:hover> .sapMBtnInner:hover{
    background: #FFD300;
    color: #003A6B;
}
.LineaLavorazione .sapMBtnInner{
    background: #7CA295;
    color: #003A6B;
}
.LineaLavorazione:hover> .sapMBtnInner:hover{
    background: #7CA295;
    color: #003A6B;
}
.LineaFermo .sapMBtnInner{
    background: #A71930;
    color: white;
}
.LineaFermo:hover> .sapMBtnInner:hover{
    background: #A71930;
    color: white;
}
.LineaSvuotamento .sapMBtnInner{
    background: #5E3032;
    color: white;
}
.LineaSvuotamento:hover> .sapMBtnInner:hover{
    background: #5E3032;
    color: white;
}

.AddButton .sapMBtnInner {
    height: 2.95rem;
    bottom: 0.2rem;
    border-radius: 0px;
}
.AddButton .sapMBtnIcon {
    color: #003A6B;
}
.AddButton .sapMBtnContent {
    top: 0.2rem;
}
.ProgressBarFix {
    height: 3rem;
    border: none;
    padding: 0px;
    margin: 0.1px;
}
.ProgressBarFix .sapMPIText {
    font-size: 20pt;
    color : #003A6B;
    font-family: Arial;
    font-weight: normal;
}

.chiudiButton .sapMBtnInner {
    font-family: Arial;
    font-size: 20pt;
    background: #f2f2f2;
    color: #003A6B;
    border-radius: 10px;
    padding: 2.5%;
    height: 150%;
}
.allarmeButton .sapMBtnInner {
    font-family: Arial;
    font-size: 20pt;
    background: #FFD300;
    color: #003A6B;
    border-radius: 10px;
    padding: 2.5%;
    height: 150%;
}