/* Custom Styles  */
.myButton
{
    background-color: red;
}

.middleImg {
    text-align: center;
}

.diffStandard input {
    color : red;
}

.diffRed {
    color : red;
    font-weight: bold;
}
.fix_b {
    margin-bottom: 4.6%;

}
.styleButton * {
    /*margin: 5px;*/
    /*width: 110%;*/
    /*padding: 1px;*/
    display: block; /* Make the buttons appear below each other */
    font-size: 12pt;
    line-height: 15pt;
    white-space: normal;
    text-align: center;
    padding-top:5px;
    height: 3em;
    /*height: 50px;*/
    /*margin: 1em;*/
    /*display: inline-flex;*/
}
.size1 {
    font-size : 1.5rem;
}
.largo {
    width:100% !important;
}
.size2 {
    font-size : 2.5rem;
}
.size3 {
    font-size : 5rem;
}
.size4:before {
    font-size : 30px !important;
}
.size5 {
    font-size : 10rem;
}
.rosso {
    background-color: red;
    margin-top: 5%;
    margin-bottom: 5%;
    opacity:0.8;

}
.verde {
    background-color: green !important;
    opacity:0.5;

}
.styleLongButton * {
    /*margin: 5px;*/
    /*width: 110%;*/
    /*padding: 1px;*/
    display: block; /* Make the buttons appear below each other */
    font-size: 12pt;
    line-height: 15pt;
    white-space: normal;
    text-align: center;
    height: 3.5em;
    /*padding-top:5px;*/
    /*height: 50px;*/
    /*margin: 1em;*/
    /*display: inline-flex;*/
}

.diffLink * {
    color : blue;
    text-decoration: underline;
    font-weight: bold;
}
sfondoRed{
    background-color: red;
}